[Unit]
Description={{.Unit.Description}}
After=network.target

[Service]
Type={{.Service.Type}}
{{if .Service.PIDFile}}PIDFile=-{{.Service.PIDFileVal}}{{end}}
{{if .Service.EnvironmentFile}}EnvironmentFile=-{{.Service.EnvironmentFileVal}}{{end}}
{{if .Service.ExecStart}}ExecStart=-{{.Service.ExecStartVal}}{{end}}
{{if .Service.ExecReload}}ExecReload=-{{.Service.ExecReloadVal}}{{end}}
{{if .Service.ExecStop}}ExecStop=-{{.Service.ExecStopVal}}{{end}}

[Install]
WantedBy=multi-user.target